{% extends 'base.html.twig' %}
{% block title %}Jackpot Hackaton{% endblock %}
{% block stylesheets %}
{#<link rel="stylesheet" href="css/slotmachine.css">#}

<link rel="stylesheet" href="../css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../css/slotmachine.css" type="text/css" media="screen" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" type="text/css" />
{% endblock %}


{% block body %}
<div class="container-fluid" style="background:#fff;">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center" style="color:#000;"> Egg fact<a href="#" alt="oeuf"><img src="../images/oeufentier.png" 
            style="width:44px;height:54px;" id="oeufentier"></a>ry!<img src="../images/lapin7.gif" 
            style="width:144px;height:154px;" id="lapi">
            </h1>
        </div>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 background">
            <div id="randomize">
                <div class="container">

                        <div class="row">
                            <div class="col-sm-4">
                                <div>
                                    <div id="machine1" class="randomizeMachine">
                                        {% for oeuf in oeufs | slice ( 0 , 9) %}
                                        <div><img src="{{ oeuf }}" style="width:100px;height:100px;" /></div>
                                        {% endfor %}

                                    </div>
                                </div>
                                <div id="machine1Result" class="col-xs-4 machineResult"></div>
                            </div>

                            <div class="col-sm-4">
                                <div>
                                    <div id="machine2" class="randomizeMachine">
                                        {% for oeuf in oeufs | slice ( 0 , 9) %}
                                        <div><img src="{{ oeuf }}" style="width:100px;height:100px;" /></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div id="machine2Result" class="col-xs-4 machineResult"></div>
                            </div>

                            <div class="col-sm-4">
                                <div>
                                    <div id="machine3" class="randomizeMachine">
                                        {% for oeuf in oeufs | slice ( 0 , 9) %}
                                        <div><img src="{{ oeuf }}" style="width:100px;height:100px;" /></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div id="machine3Result" class="col-xs-4 machineResult"></div>
                            </div>


                        </div><br>
                        <!--end 1 row-->
                        <div class="row">

                            <div class="col-sm-4">
                                <div>
                                    <div id="machine4" class="randomizeMachine">
                                        {% for oeuf in oeufs | slice ( 0 , 9) %}
                                        <div><img src="{{ oeuf }}" style="width:100px;height:100px;" /></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div id="machine4Result" class="col-xs-4 machineResult"></div>
                            </div>
                            <div class="col-sm-4">
                                <div>
                                    <div id="machine5" class="randomizeMachine">
                                        {% for oeuf in oeufs | slice ( 0 , 9) %}
                                        <div><img src="{{ oeuf }}" style="width:100px;height:100px;" /></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div id="machine5Result" class="col-xs-4 machineResult"></div>
                            </div>
                            <div class="col-sm-4">
                                <div>
                                    <div id="machine6" class="randomizeMachine">
                                        {% for oeuf in oeufs | slice ( 0 , 9) %}
                                        <div><img src="{{ oeuf }}" style="width:100px;height:100px;" /></div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div id="machine6Result" class="col-xs-4 machineResult"></div>
                            </div>

                        </div>

                        <div class="btn-group btn-group-justified" role="group">
                            <button id="randomizeButton" type="button" class="btn btn-danger btn-lg">JOUER X2</button>
                        </div>
                        <div class="btn-group btn-group-justified" role="group">
                            <button id="buttoX5" type="button" class="btn btn-warning btn-lg">JOUER X5</button>
                        </div>
                        <div class="btn-group btn-group-justified" role="group">
                            <button id="buttoX10" type="button" class="btn btn-success btn-lg">JOUER X10</button>
                        </div>

                        <div class="btn-group btn-group-justified" style="background:white;width:200px;padding:10px;">
                            <div id="gagner">No gain</div>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            {% for perso in personnage  %}
                {% if perso.id == app.jeu.personnage %}
                <div class="card">
                    <img src="{{ perso.image }}" class="card-img-top" alt="{{ perso.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ perso.name }}</h5>
                        <p class="card-text">Some quick example.</p>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="width: 15rem;border-radius:20px;">

                <div class="card-body">
                <div class="mb-2 text-center"><h2>Gains</h2></div>
                    <div class="mega-score">
                    <img src="../images/score.png" style="width:200px;">
                    <div id="gain" class="text-center gain">{{ gain }}</div>
                    </div>
                </div>
            </div>


            <div class="card mt-4" style="width: 15rem;">
				<div class="card-header">
					Top 5 score
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><img src="https://images-na.ssl-images-amazon.com/images/I/91P9Csqk5RL.jpg" width="20"> Judge Dredd: <b>150154</b></li>
					<li class="list-group-item"><img src="https://www.derivstore.com/wp-content/uploads/2017/11/Figurine-Hot-Toys-Harley-Quinn-3.jpg" width="20"> Harley Quinn: <b>145015</b></li>
					<li class="list-group-item"><img src="https://static.comicvine.com/uploads/scale_small/13/132327/4262699-a86be31143ba35176665964cfa29516a-d5qg94n.jpg" width="20"> Gandalf: <b>140128</b></li>
					<li class="list-group-item"><img src="https://klausming.files.wordpress.com/2011/09/brian.jpg" width="20"> Brian Cohen: <b>120025</b></li>
					<li class="list-group-item"><img src="https://upload.wikimedia.org/wikipedia/en/thumb/2/2a/Supergirl_%28Kara_Zor-El%29_-DC_Rebirth_version-.jpg/250px-Supergirl_%28Kara_Zor-El%29_-DC_Rebirth_version-.jpg" width="20"> Supergirl: <b>110456</b></li>
				</ul>
			</div>

        </div>

    </div>
</div>
<audio id="carteSoundGains">
  <source src="/sound/2713.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<audio id="carteSoundRoulement">
  <source src="/sound/sf_tictac_01.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
{% endblock %}

{% block javascripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../js/slotmachine.js"></script>
<script src="../js/jquery.slotmachine.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
<script src="../js/jeux.js"></script>
<script>
    $("#oeufentier").click(function () {
        $(this).attr("src", "/images/oeuf.png");
    });
</script>
{% endblock %}